body{
    margin: 0;
    padding: 0;
    height: 100vh;
    background: #000;
    display: flex;
    flex-direction: column;
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header{
    width: 100%;
    display: flex;
    background: #444;
    
}

h1,h2,h3{
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
}

section{
    margin-top: 15px;
    width: 100%;
    height: fit-content;
    display: flex;
    gap: 5px;
}

#EquipoUno,#EquipoDos{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    min-height: 700px;
    background-color: #444;
    border: 2px solid black;
    border-radius: 10px;
}

#EquipoUnoCards,#EquipoDosCards{
    height: 265px;
    display: flex;
    gap: 16px;
    justify-content: space-evenly;
}

.card{
    width: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 15px;
    background-color: #000;
}

.equipoUnoStats,.equipoDosStats{
    margin-top: 10px;
    font-weight: 800;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

p{
    padding: auto;
    height: fit-content;

}

.gandor{
    display: flex;
    justify-content: center;
    align-items: center;
}

.botones{
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 20px;
    justify-content:center;
    align-items: center; 
}

.dados{
    display: flex;
    gap: 25px;
    width: 100%;
    justify-content: center;
    text-align: center;
}

.tiradas,.resultados,.resultados_dados{
    display: flex;
    width: 200px;
    flex-direction: column;
    justify-content: space-between;
}

.tiradas{
    display: flex;
    align-items: center;
    width: 110px;
}
#tirar_e1,#tirar_e2{
    background-color: blue;
    color: white;
    font-weight: 600;
    font-size: large;
    border-radius: 6px;
    width: fit-content;
    margin-top: 1rem;
    border: 2px solid white;
}

#batalla{
    background-color: #222;
    color: white;
    font-weight: 900;
    font-size: large;
    border-radius: 20px;
    border: 2px solid white;
}

