*{
    margin: 0;
    padding: 0;
    background-color: rgb(141, 85, 85);
    font-family: Montserrat, sans-serif;
}

.titulo{
    margin-top: 30px;
    padding:  10px;
    text-align: center;
    text-decoration: underline;
}

.nav{
    padding: 7px;
    display: flex;
    justify-content: space-around;
}

button{
    background-color: white;
}

table{
    margin-top: 20px;
    margin-left: 10px;
    background-color: rgb(201, 189, 212);
}

th{
    padding-left: 5px;
    padding-right: 30px;
    font-size: 20px;
}

#dni {
    padding-right: 100px;
}

td{
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

input{
    text-align: center;
}