*{
    margin: 0;
}

body{
    background-color: lightblue;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav{
    width: 100%;
    display: flex;
    background-color: rgba(125, 150, 178, 0.7);
    justify-content: center;
    padding: 10px;
}

ul{
    width: 100%;
    display: flex;
    justify-content: center;

}

li{
    width: auto;
    height: 100%;
    list-style: none;
    margin-right: 25px;
    align-items: center;
}

a{
    color: white;
    font-weight: 600;
    text-decoration: none;
}

#team1{
    width: fit-content;
    /* border: 1px solid black; */
}

#team2{
    width: fit-content;
    /* border: 1px solid black; */
}

.card{
    width: 150px;
    min-height: 270px;
    margin-bottom: 10px;
    height: 100%;
}

h2{
    text-align: center;
    font-size:large;
}

p{
    text-align: center;
}

img{
    width: 150px;
} 