*{
    margin: 0;
}

body{
    background-color: lightblue;
    display: flex;
    justify-content: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    margin-top: 50px;
    background-color: white;
    display: flex;
    width: 500px;
    height: 500px;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-radius: 10px;
    flex-direction: column;
}

form{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
input,button{
    margin: 10px;
    width: 50%;
}

button{
    width: auto;
}

#ganador{
    margin-top: 50px;
}

#pokemones{
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
}

#p1,#p2{
    font-weight: 800;
}

img{
    height: 100px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
}

span{
    font-size: x-large;
}